@import './variables.scss';

body {
    background-color: $body-bg;
}

.button.primary {
    background-color: $primary !important;

    &:hover {
        background-color: $dark-primary !important;
    }
}

#root,
.fill {
    width: 100%;
    height: 100%;
}
