@import '../../styles/variables.scss';

.greenText {
    color: $primary;
}

.header {
    height: 70px;
    background-color: white;
    box-shadow: 0 3px 2px 1px #00000022;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userInfo > div:last-child {
    margin-left: 10px;
}

.menu {
    padding: 0 120px 0 160px;
}
