@mixin square($d) {
    width: $d;
    height: $d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    @include square(100px);
    border-radius: 10px;
}

.outer {
    @include square(250px);
    cursor: pointer;

    &:hover {
        background-color: #eee !important;
    }
}

.classKey {
    font-size: 20px;
}
